@use "./abstracts/" as *;
@use "./components/" as *;

:root {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $white_color;
  line-height: 1.6;
  font-family: $plain_light;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 90%;
  margin: auto;
  overflow: auto;
}

// Navigation -------------------------------------------------------

.nav {
  color: $white_color;
  background-color: $dark_color;
  padding: 1rem;
  z-index: 10 !important;
  position: sticky;
  top: 0;

  &__menu-bar {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__brand {
    font-family: "Plain Bold", sans-serif;
    font-size: 2rem;
    width: 40%;
  }

  &__item {
    margin-right: 2rem;
  }

  &__links {
    display: flex;
    width: 60%;
    margin-left: 2rem;
  }

  &__links > * {
    justify-self: flex-end;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 1.3rem;
    flex-shrink: 0;
  }

  &__link {
    color: $white_color;
    transition: 300ms ease-in-out color;

    &:hover {
      @include hover_link();
    }
  }

  &__link--active {
    color: $orange_color;
  }

  &__socials {
    justify-self: flex-end !important;
    display: flex;
    width: 20%;
  }

  &__social-icon {
    color: $white_color;
    font-size: 1.7rem;
    margin-left: 1.2rem;
    transition: 300ms ease-in-out color;

    &:hover {
      @include hover_link();
    }
  }
}

// Hero -------------------------------------------------------

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $white_color;
  position: relative;

  &::before {
    content: "";
    background-color: $dark_color_lighter;
    position: absolute;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    line-height: 1.3;
  }

  &__title {
    font-size: 3.5rem;
    font-family: "Plain Bold";
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    opacity: 0;
    transition: 2s ease-in-out all;
  }

  &__wrapper--fadeOut &__title {
    opacity: 1;
  }

  &__subtitle {
    font-family: "Plain Light";
    font-size: 1.6rem;
    opacity: 0.7;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: $white_color;
    margin-right: 1.5rem;
    text-transform: uppercase;
    transition: 300ms ease-in-out color;

    &:hover {
      @include hover_link();
    }
  }

  &__title,
  &__buttons,
  &__subtitle {
    z-index: 2;
  }
}

// Features ---------------------------------------

.features {
  background-color: $dark_color;
  color: $white_color;
  padding: 7rem 1rem;

  &__title {
    font-size: 2.4rem;
    font-family: "Plain Bold";
    margin-bottom: 1.3rem;
  }

  &__subtitle {
    font-family: "Plain Light";
    font-size: 1.5rem;
    font-weight: 640;
    margin-bottom: 1rem;
    word-break: break-all;
  }

  &__text {
    opacity: 0.6;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
    word-break: break-all;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__wrapper > * {
    flex: 1 1 100%;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__wrapper > *:nth-of-type(1) {
    transform: translateX(-300px);
  }

  &__wrapper > *:nth-of-type(2) {
    transform: translateX(900px);
  }

  &__wrapper--fadeOut > *:nth-of-type(1) {
    animation-delay: 1s;
    transform: translateX(0);
  }

  &__wrapper--fadeOut > *:nth-of-type(2) {
    animation-delay: 2s;
    transform: translateX(0);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__feature:first-of-type {
    justify-self: center;
    text-align: justify;
    padding-left: 7rem;
  }

  &__feature:last-child {
    padding-left: 3rem;
    border-left: 2px solid #2e3032;
  }

  &__schedule {
    margin-bottom: 1rem;
  }

  &__schedule-day {
    font-family: "Plain Bold";
    font-weight: 700;
    font-size: 1.1rem;
  }

  &__schedule-time {
    font-family: "Plain Light";
    font-size: 1.3rem;
    opacity: 0.6;
  }
}

// instructors -----------------------------------------
.instructors {
  background-color: $white_gray_color;
  padding: 7rem 7rem 4rem 7rem;

  &__title {
    font-size: 2.4rem;
    font-family: "Plain Bold";
    color: $dark_text_color;
    margin-bottom: 1.3rem;
  }

  &__text {
    opacity: 0.5;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
    text-align: justify;
    word-break: break-all;
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__wrapper > * {
    flex: 1 1 40%;
    opacity: 0;
    transform: translateY(-900px);
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-300px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__wrapper--fadeOut > *:nth-of-type(1) {
    animation-delay: 2s;
  }

  &__wrapper--fadeOut > *:nth-of-type(2) {
    animation-delay: 3s;
  }

  &__box:first-of-type {
    padding-right: 4rem;
    padding-top: 2rem;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__cards {
    display: flex;
    gap: 2.5rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
  }

  &__cards > * {
    flex: 1 1 40%;
    background-color: white;
  }

  &__card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  &__name-card {
    font-family: "Plain Bold";
    font-size: 2.1rem;
    color: $dark_text_color;
  }

  &__title-card {
    opacity: 0.6;
    font-size: 1.1rem;
    line-height: 1.3;
    font-family: "Plain Light";
  }

  &__info {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__info:first-child {
    width: 70%;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  &__icon {
    font-size: 1.8rem;
    color: $dark_text_color;
    opacity: 0.6;
    transition: 300ms ease-in-out all;
  }

  &__icon:hover {
    @include hover_link();
  }
}

.classes {
  padding: 5rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  &__wrapper {
    padding: 2rem 0;
  }

  &__title {
    font-size: 2.4rem;
    font-family: "Plain Bold";
    color: $dark_text_color;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__subtitle {
    font-family: "Plain Light";
    font-size: 1.6rem;
    opacity: 0.4;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  &__cards > * {
    flex-basis: 100%;
  }

  &__info {
    padding: 1.3rem 1.7rem 1.7rem 1.7rem;
    display: flex;
    justify-content: space-between;
  }

  &__type {
    font-family: "Plain Bold";
    font-size: 2.1rem;
    color: $dark_text_color;
  }

  &__trainer {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  &__name {
    color: $dark_text_color;
    font-family: "Plain Light";
  }

  &__trainer-description {
    opacity: 0.7;
    font-family: "Plain Bold";
  }

  &__text {
    opacity: 0.6;
    font-family: "Plain Light";
    font-size: 1.3rem;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__price {
    background-color: $orange_color;
    color: $white_color;
    padding: 1.1rem;
    border-radius: 50%;
    font-family: "Plain Bold";
  }
}

.workouts {
  background-color: $dark_color;
  color: $white_color;
  padding: 7rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &__title {
    text-align: center;
    font-size: 2.4rem;
    font-family: "Plain Bold";
    color: $white_color;
    margin-bottom: 2.2rem;
  }

  &__subtitle {
    font-family: "Plain Light";
    font-size: 1.6rem;
    opacity: 0.4;
    text-align: center;
  }

  &__table-headercolumn {
    background-color: $orange_color;
    padding: 1rem 1rem;
    font-family: "Plain Bold";
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 0 !important;
    border-right: 1px solid $medium_gray_color;
  }

  &__table-headercolumn:last-child {
    border-right: 0;
  }

  &__icon-calendar {
    font-size: 1.7rem;
  }

  &__table {
    border-collapse: collapse;
    border-spacing: 0;
    border-right: 1px solid $medium_gray_color;
  }

  &__table-bodycolumn:first-child {
    background-color: $orange_color;
    border-bottom: 1px solid $medium_gray_color;
  }

  &__table-bodycolumn:first-child,
  &__table-bodycolumn,
  &__table-headercolumn:first-child {
    padding: 1.1rem;
    border-right: 1px solid $medium_gray_color;
    border-bottom: 1px solid $medium_gray_color;
    margin: 0;
  }

  &__workout-type {
    font-family: "Plain Bold";
    font-size: 1.1rem;
    display: block;
    text-align: center;
  }

  &__workout-time {
    font-family: "Plain Light";
    font-size: 1rem;
    opacity: 0.4;
    text-align: center;
  }
}

// Contact ------------------------------------

.contact {
  padding: 7rem 1rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__wrapper > * {
    flex-basis: 100%;
    gap: 2rem;
  }

  &__map-box {
    padding-left: 5rem;
    text-align: center;
  }

  &__form-box {
    padding-left: 5rem;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
    font-family: "Plain Bold";
    color: $dark_text_color;
    margin-bottom: 2.2rem;
  }

  &__input {
    width: 100%;
    display: block;
    border: 1px solid $light_gray_color;
    margin-bottom: 1.6rem;
    padding: 1.1rem 1rem;
    outline: none;
    color: #626262;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 200ms ease-in-out all;

    &:focus {
      border: $dark_color 1px solid;
    }
  }

  &__address {
    opacity: 0.5;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: justify;
  }

  &__map-box-title {
    margin-bottom: 1.2rem;
  }

  &__location-icon {
    font-size: 1.5rem;
    font-weight: bolder;
    color: $orange_color;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__divider {
    border-top: 1px solid $white_gray_color;
    opacity: 0.2;
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.footer {
  border-top: 1px solid $light_gray_color2;
  padding: 4rem 1rem;
  color: $light_gray_color3;
  font-size: 1.2rem;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__wrapper > * {
    flex-basis: 100%;
    text-align: center;
  }

  &__email-wrapper {
    justify-self: flex-end !important;
    margin-right: 1rem;
  }

  &__icon {
    color: $orange_color;
    font-size: 1.4rem;
  }
}

// Responsiveness

@media screen and (max-width: 1000px) {
  .nav {
    &__links,
    &__socials {
      display: none;
    }

    &__wrapper {
      justify-content: space-between;
    }

    &__menu-bar {
      z-index: 22;
      display: inline-block !important;

      &:hover {
        cursor: pointer;
      }
    }

    &__bar {
      height: 3px;
      margin-bottom: 8px;
      background-color: $orange_color;
      width: 35px;
      transition: ease-in-out all 300ms;
    }

    &__bar:last-of-type {
      margin-bottom: 0;
    }

    &__menu-bar:hover &__bar {
      background-color: $white_color;
    }

    &__menu-bar--active &__bar:nth-of-type(2) {
      display: none;
    }

    &__menu-bar--active &__bar:nth-of-type(1) {
      transform: rotate(45deg) translateY(8px);
    }

    &__menu-bar--active &__bar:nth-of-type(3) {
      transform: rotate(-45deg) translateY(-7px);
    }

    &__links {
      background-color: $dark_color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      top: -999px;
      left: 0;
      bottom: 0;
      height: 100vh;
      z-index: 10;
      margin: 0;
      transition: ease-in-out all 200ms;
    }

    &__links--active {
      top: 0;
    }

    &__item {
      margin-bottom: 2rem;
    }

    &__brand {
      width: 100%;
    }
  }

  .features,
  .instructors,
  .classes {
    &__title,
    &__subtitle {
      word-break: keep-all;
      text-align: center !important;
    }

    &__text {
      word-break: keep-all !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .hero {
    &::before {
      bottom: 0 !important;
      height: 100%;
    }

    &__wrapper {
      width: 100%;
    }
  }

  .features {
    &__title {
      text-align: center;
      word-break: keep-all;
      margin-bottom: 2rem !important;
    }

    &__subtitle {
      word-break: keep-all;
      margin-bottom: 1rem !important;
    }

    &__text {
      word-break: keep-all;
    }

    &__wrapper {
      display: block;
      gap: 0;
    }

    &__wrapper > * {
      width: 100% !important;
      padding: 0 !important;
    }

    &__feature {
      padding: 0 I !important;
      border: none !important;
    }

    &__feature > *:first-of-type {
      margin-bottom: 3rem;
    }
  }

  // Instructors
  .instructors {
    padding: 7rem 0 !important;
    &__title {
      text-align: center;
    }
    &__wrapper {
      display: block;
      gap: 0;
    }

    &__wrapper > * {
      width: 100% !important;
      padding: 0 !important;
    }

    &__text {
      word-break: keep-all !important;
    }

    &__cards {
      display: block;
    }

    &__cards > * {
      width: 100%;
    }

    &__cards > *:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  // Classes
  .classes {
    &__title {
      text-align: center;
      word-break: keep-all !important;
    }
    &__cards {
      display: block;
      gap: 0;
    }

    &__cards > * {
      width: 100% !important;
      padding: 0 !important;
    }

    &__cards > *:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  // Instructors
  .instructors {
    &__title {
      text-align: center;
    }
    &__wrapper {
      display: block;
      gap: 0;
    }

    &__wrapper > * {
      width: 100% !important;
      padding: 0 !important;
    }

    &__text {
      word-break: keep-all !important;
    }

    &__cards {
      display: block;
    }

    &__cards > * {
      width: 100%;
    }

    &__cards > *:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  // Workouts

  .workouts {
    overflow-x: scroll;
  }

  // Contact
  .contact {
    &__title {
      text-align: center;
      word-break: keep-all !important;
    }
    &__wrapper {
      display: block;
      gap: 0;
    }

    &__wrapper > * {
      width: 100% !important;
      padding: 0 !important;
    }

    &__wrapper > *:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  .footer {
    padding: 3rem 2rem;
    &__wrapper {
      display: block;
    }

    &__wrapper > *:first-of-type {
      margin-bottom: 1rem;
    }
  }
}
