@font-face {
    font-family: 'Plain Light';
    src: url('../fonts/PlainLight.ttf') format('truetype'),  
  }
  
  @font-face {
    font-family: 'Plain Bold';
    src: url('../fonts/PlainBold.ttf') format('truetype'),  
  }
  

$plain_light: "Plain Light";
$plain_bold: "Plain Bold";
$plain_medium: "Plain Medium";
